include LICENSE.txt
include README.md
include RELEASE.md
include CHANGELOG.md

#include setupbase.py
include pytest.ini
include .coverage.rc
include appveyor.yml
include codecov.yml
include readthedocs.yml
include pylintrc

include tsconfig.json
include package.json
include webpack.config.js
include serialhub/labextension/*.tgz

# Documentation
graft docs
exclude docs/\#*
prune docs/build
prune docs/gh-pages
prune docs/dist

# Examples
graft examples
prune examples/.ipynb_checkpoints

# Tests
graft tests
prune tests/build
graft tests_ipynb
prune tests_ipynb/.ipynb_checkpoints

# Javascript files
#include serialhub/nbextension/*.py
#include serialhub/nbextension/static/extension.js
graft serialhub/nbextension
exclude serialhub/nbextension/static/index.js*
graft src
graft css
graft style
prune **/node_modules
prune coverage
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints

#  include *.md
#  include *.yml
graft devnotes
